@use './colors' as *;
*,
*::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Figtree', sans-serif;
	flex-direction: column;
	min-height: 100vh;
	background-color: $yellow;
	padding: 1.6em;
}
a {
	color: $fontsecond;
	text-decoration: none;
}
.attribution {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	font-size: 1.4rem;
}

.article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 360px;
	width: 100%;
	background-color: $white;
	padding: 2em;
	border-radius: 1.6em;
	border: 0.1em solid black;
	&__img {
		border-radius: 1.6em;
	}
	&__content {
		padding: 2.2rem 0;
		&__learning {
			display: inline-block;
			font-size: 1.4rem;
			font-weight: 700;
			padding: 0.4em 0.8em;
			border-radius: 0.4em;
			background-color: $yellow;
		}
		&__date {
			font-size: 1.6rem;
			font-weight: 400;
			padding-top: 1rem;
		}
		&__heading {
			font-size: 2rem;
			padding: 1.6rem 0;
		}
		&__text {
			font-size: 1.4rem;
			line-height: 1.8em;
		}
	}
}
